@import "colors";
$mobile-breakpoint: 768px;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

main {
    position: relative;
    min-height: 100%;
    overflow: auto;

    header {
        background-color: $color-header-background;

        .header-nav {
            overflow: hidden;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                color: $color-header-nav-text;
            }

            li {
                float: left;
                display: block;
                text-align: center;
                padding: 14px 16px;

                &:hover {
                    background-color: $color-header-nav-hover-background;
                    cursor: pointer;
                }

                a {
                    color: $color-header-nav-text;
                    text-decoration: none;
                }
            }

            .right {
                float: right;
            }

            .sidebar-shown {
                color: $color-header-sidebar-shown;
            }

            @media only screen and (max-width: $mobile-breakpoint) {
                #sidebarToggleButton {
                    display: none;
                }
            }
        }
    }

    content {
        width: 70%;
        float: left;
        padding: 30px 0 60px 0;
        vertical-align: top;
    }

    aside {
        background-color: $color-sidebar-background;
        width: 30%;
        float: right;
    }

    footer {
        background-color: $color-footer-background;
        color: $color-footer-text;
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 50px;
    }

    @media only screen and (max-width: $mobile-breakpoint) {
        content {
            width: 100%;
        }

        aside {
            display: none;
        }
    }
}

.full-width {
    width: 100%;
}

.center {
    text-align: center;
}